@import '_MainMixins.scss';

/* NAVBAR */

/*background-color: rgba(238,216,180,1);
background: @include filter-gradient(#eed8b4, #bc975c, vertical);
background: @include background-image(linear-gradient(top, rgba(238,216,180,1) 0%, rgba(174,134,71,1) 0%, rgba(183,144,84,1) 19%, rgba(188,151,92,1) 31%, rgba(213,184,136,1) 75%, rgba(227,202,161,1) 100%));
*/
body {
	@extend %linear-gradient-green;
}
.navbar {
	@extend %linear-gradient;
	border: none;
	@include radius(0);

	.navbar-header {
		padding: $xs-px;
		a {
			color: $blanc;
			font-family: 'Cormorant Garamond', serif;
			font-size: 2.5rem;
			&:hover {
				color: $blanc;
			}
		}
	}

	.liens {
		li  {
			padding: $xs-px;
			a {
				color: $blanc;
				&:hover {
					color: $blanc;
				}
			}
			&:hover {
				background-color: $marron;
				transition: all .3s ease-in-out ;
			}
		}
	}

}


.header {
	margin-top: 40px;
	text-align: center;
	.title {
		font-family: 'Cormorant Garamond', serif;
		font-size: 3rem;
	}
	.subtitle {
		font-family: 'Marck Script', cursive;
		font-size: 1.8rem;
		padding: 25px 0;
	}
}

.carousel-caption {
	.title-carousel {
		font-family: 'Cormorant Garamond', serif;
		font-size: 2.5rem;
		font-weight: bold;
		text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
	}
	.subtitle-carousel {
		font-family: 'Cormorant Garamond', serif;
		font-size: 1.9rem;
		text-shadow: 4px 2px 2px rgba(0, 0, 0, 1);
	}
}

.button-area {
	text-align: center;
	.presentation {
		font-family: $cormorant;
	}
	p {
		font-family: $cormorant;
		text-align: justify;
	}
	.btn-try {
		@extend %linear-gradient;
		color: $blanc;
		a {
			color: $blanc;
		}
		&:hover {
			background-color: $marron;
			transition: all .3s ease-in-out ;
		}
	}
}

.footer {
	@extend %linear-gradient;
	font-family: $cormorant;
	margin-top: 70px;
	padding: 20px;
	text-align: center;
}

/*
Modifier la taille du carousel 
texte sur le coté avec descriptif + bouton cliquable et lien vers la page de test 
animation ???
*/